body{
    font-family: $fontPrincipal;
    
    background: url(/images/bg-pattern-top-mobile.svg) top left no-repeat, url(/images/bg-pattern-bottom-mobile.svg) bottom right no-repeat; 
    .conteiner__grid{
        max-width: 90%;
        margin: auto;
        margin-top: 2rem;
        min-height: 100vh;
        display: grid;
        grid-template-areas: 
            " welcome"
            " stars" 
            " conteiner-cards"
            " attribution"
        ;
        grid-template-rows: 0.5fr 0.5fr 1fr auto;
        grid-template-columns: 1fr;
        row-gap: 3rem;
        .welcome{
            grid-area: welcome;
            align-self: center;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            min-height: 14rem;
            .welcome__title{
                font-size: 3rem;
                font-weight: 900;
                text-align: center;
                color: $veryDarkMagenta;
            }
            .welcome__description{
                color: $darkGrayishMagenta;
                text-align: center;
            }
        }
        
        .stars{
            grid-area: stars;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            min-height: 14rem;
            .opinion{
                background-color: $lightGrayishMagenta;
                border-radius: 0.5rem;
                padding: 0.8rem 0;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-between;
                min-height: 4.5rem;
                .opinion__description{
                    color: $veryDarkMagenta;
                    font-weight: 700;
                }
            }

        }
        
        .conteiner__cards{
            grid-area: conteiner-cards;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            min-height: 37rem;
            .card{
                background-color: $veryDarkMagenta;
                border-radius: 0.5rem;
                padding: 1.5rem 2rem;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                height: 11.5rem;             
                .card__head{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    width: 10rem;
                    img{
                     border-radius: 50%;
                     width: 3rem;
                    }
                    .data{
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: space-evenly;
                        height: 100%;
                        .data__name{
                            color: $white;
                        }
                        .data__verified{
                            color: $softPink;
                        }
                    }
                }
                .description{
                    color: $white;
                }
            }
        }
        .attribution{
            grid-area: attribution;
            justify-self: center;
            align-self:end;
        }
    }
}

@media screen and (min-width:1040px){
    body{
        background: url(/images/bg-pattern-top-desktop.svg) top left no-repeat, url(/images/bg-pattern-bottom-desktop.svg) bottom left no-repeat;
        .conteiner__grid{
            
            max-width: 80%;
            grid-template-areas: 
                " welcome stars"
                " welcome stars"
                " conteiner-cards conteiner-cards"
                "attribution attribution" 
            ;
            grid-template-rows: 0.5fr 0.5fr 0.6fr 0.5fr;
            grid-template-columns: 1fr 1fr;
            row-gap: 3rem;


            .welcome{
                min-height: 60%;
                width: 70%;
                .welcome__title{
                    font-size: 4rem;
                    text-align: left;
                }
                .welcome__description{
                    text-align: left;
                    font-size: 1.5rem;                }
            }


            .stars{
                position: relative;
                align-self: center;
                .opinion{
                    width: 60%;
                }
                :nth-child(2){
                    margin: 0 auto;
                }
                :nth-child(3){
                    margin:0 0 0 auto; 
                }
            }
            .conteiner__cards{
                min-height: auto;
                flex-direction: row;
                .card{
                    max-width: 32%;
                    min-height: 18rem;
                    padding: 2.5rem;
                    font-size: 1.3rem;
                    .card__head{
                        width: 12rem;
                    }
                }
                .card:nth-child(2){
                    position: relative;
                    top:2rem;
                }

                .card:nth-child(3){
                    position: relative;
                    top: 4rem;
                }
            }
    }       
    
}
}